In [1]:
import pandas as pd
import numpy as np
import math

In [9]:
log = pd.read_csv(r'C:\Users\eu_el\Desktop\VB_Schnittstelle\Dataset\Log1\log_1_valid_post_processed_new_decrypted_new_levenshtein_corrected.csv')

In [10]:
log.shape

(628651, 15)

In [11]:
log1 = log.loc[log.new_lev_dist > 10]
log1 = log1.loc[log1.text_field == log1.key]
log1

,ts_id,key,lev_dist,text_field,participant_id,len_diff,iki,text_field_prev,is_rep,ite,is_forward,entry_id,user_type,new_lev_dist,iki_norm
11691,55510.0,T,1,T,16442,-37,4412.0,What do you think about Tracy and Jim?,False,none,True,0,45,37,4412.0
64337,180263.0,a,1,a,48083,-28,NaN,a letter is being sent today.,True,none,True,0,70,28,NaN
69838,196707.0,,1,,51946,-57,1543.0,His status for Thursday's game against Dallas ...,False,none,True,-1,45,57,1543.0
110007,313522.0,C,1,C,77737,-40,4640.0,Can you god the Gallup contracts as well?,False,none,True,0,30,40,4640.0
163385,440568.0,t,1,t,94336,-47,3146.0,The aviation college had already trained pilots.,False,none,True,0,35,47,3146.0
337753,934436.0,t,1,t,160137,-31,2983.0,Thank you for your prompt reply.,False,none,True,0,45,31,2983.0
477345,1368387.0,T,1,T,219060,-57,4027.0,The French diplomat meanwhile reiterated his c...,False,none,True,0,30,57,4027.0
527714,1542964.0,I'm pleased with m,52,I'm pleased with m,241858,-1,NaN,NaN,False,swype,True,3,15,17,NaN
558149,1635592.0,Lance and I have the,1,Lance and I have the,253311,-1,NaN,NaN,False,swype,True,4,35,20,NaN

In [26]:
log.loc[337780:337840]

,ts_id,key,lev_dist,text_field,participant_id,len_diff,iki,text_field_prev,is_rep,ite,is_forward,entry_id,user_type,new_lev_dist,iki_norm
337770,934439.0,,1,Thank you,160137,1,171.0,Thank you,False,none,True,-1,45,1,171.0
337771,934439.0,_,1,Thank you,160137,-1,186.0,Thank you,False,none,False,-3,45,1,186.0
337772,934439.0,_,1,Thank yo,160137,-1,306.0,Thank you,False,none,True,1,45,1,306.0
337773,934439.0,_,1,Thank y,160137,-1,101.0,Thank yo,False,none,True,1,45,1,101.0
337774,934439.0,_,1,Thank,160137,-1,100.0,Thank y,False,none,False,-3,45,1,100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337836,934443.0,s,1,Drop him unles,160137,1,169.0,Drop him unle,False,none,True,2,45,1,169.0
337837,934443.0,s,1,Drop him unless,160137,1,186.0,Drop him unles,False,none,True,2,45,1,186.0
337838,934443.0,,1,Drop him unless,160137,1,116.0,Drop him unless,False,none,True,-1,45,1,116.0
337839,934443.0,y,1,Drop him unless y,160137,1,242.0,Drop him unless,False,none,True,3,45,1,242.0
337840,934443.0,o,1,Drop him unless yo,160137,1,541.0,Drop him unless y,False,none,True,3,45,1,541.0

In [13]:
log2 = log1.loc[log1.ts_id == '']
log2

C:\Users\eu_el\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

Empty DataFrame
Columns: [ts_id, key, lev_dist, text_field, participant_id, len_diff, iki, text_field_prev, is_rep, ite, is_forward, entry_id, user_type, new_lev_dist, iki_norm]
Index: []

In [14]:
log1.ts_id.dtypes

dtype('float64')

In [16]:
log_slim = pd.read_csv(r'~\Desktop\VB_Schnittstelle\Dataset\Log1\log_1_valid_processed_slim.csv')
log_slim

,ts_id,key,text_field,participant_id,iki,text_field_prev,ite,lev_dist
0,8336.0,T,T,2535,NaN,NaN,none,1
1,8336.0,h,Th,2535,81.0,T,none,1
2,8336.0,e,The,2535,62.0,Th,none,1
3,8336.0,,The,2535,65.0,The,none,1
4,8336.0,m,The m,2535,190.0,The,none,1
...,...,...,...,...,...,...,...,...
628646,1810279.0,_,"And if hes not, then he doesnt ple",273976,370.0,"And if hes not, then he doesnt plea",none,1
628647,1810279.0,_,"And if hes not, then he doesnt pl",273976,122.0,"And if hes not, then he doesnt ple",none,1
628648,1810279.0,a,"And if hes not, then he doesnt pla",273976,568.0,"And if hes not, then he doesnt pl",none,1
628649,1810279.0,y,"And if hes not, then he doesnt play",273976,308.0,"And if hes not, then he doesnt pla",none,1
628650,1810279.0,.,"And if hes not, then he doesnt play.",273976,1612.0,"And if hes not, then he doesnt play",none,1